/* .responsive-img {
  width: 100%;
  height: auto;
} */

html, body
{
  background-color: #fff;
  color: #000;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

a, a:hover, a:focus, a:visited
{
  color: #fff;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}

.shop-green {
  background-color: #68B07D;
}
.shop-green--text {
  color: #68B07D
}

.shop-blue {
  background-color: #3A4799;
}
.shop-blue--text {
  color: #3A4799;
}

nav#navbar {
  background: transparent;
}

.test-enter-active, .test-leave-active {
  transition: opacity .5s;
}
.test-enter, .test-leave-active {
  opacity: 0;
}